.header__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 800px;
    flex: 1;
    margin-bottom: 15px;
}

.shop_bucket {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;    
}
